{% extends "layout.twig" %}

{% block content %}

{% include "includes/header.twig" %}

<!-- Homepage Feature -->
{{widget('feature', 'featurehome', {
	"header": "profile",
	"defaultBgImg": asset('images/feature-bg.jpg'),
	'positionTopPercentage': '0',
	'showBtn': true,
	buttonText: "Lorem Ipsum"
})|raw}}
<!-- End Homepage Feature -->

<div class="signupbar">
    <div class="container">
        <div class="signupbar-left">
            {{widget('tweet', 'tweetblog', {
            'linkText': 'Tweet',
            'tweetText': 'Checkout this blog',
            'align': 'widget-align-left'
            })|raw}}
        </div>
        <div class="signupbar-facebook">

{{widget('facebooklike', 'likebutton', {
    text: 'FaceBook Like',
    showFaces: 'true',
    action: 'like',
    colorscheme: 'light',
    layout: 'standard',
    height: '20',
    font: 'arial',
    locale: 'en_US',
    thisUrl: 'www.mysite.com'
  })|raw}}

        </div>
        <div class="signupbar-right">
            {{widget('profile', 'signupformbar', { 'profileType':'form',    'form':'profile'})|raw}}
        </div>
    </div>
</div>

<!-- Page Content -->
<section class="template-content container">
	<!-- Main Widet Zone -->
   	{{zone('main')|raw}}
</section>
<!-- End Page Content -->

{% include "includes/footer.twig" %}

{% endblock %}
